* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;

}

.pagination .page-link{
  color:red;
  outline:none;
}.pagination .page-link:focus{
  color:red;
  outline:none;
}
.page-item.active .page-link {
 
  color: #fff;
  background-color: red;
  border-color: red;
}

.modal{
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content{
  background-color: unset;
}
.search-input{
  width: 100%;
  height: 80px;
  background-color: transparent;
  border-radius: 160px;
  border: 2px solid white;
  outline: none;
  padding: 10px 20px;
  position: relative;
  color: #fff;
}
.modal-content .fa-search{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
body{
  overflow-x: hidden;
  
  
}
a{
cursor: pointer;
text-decoration: none;
}
.modal{
background-color: rgba(0, 0, 0, 0.5);
}

.container-fluid {
padding: unset;
}
.topbar{
background-color: whitesmoke;
padding-top: 10px;
}
.trending-bar {
font-size: 0.8em;    
}
.trending-bar a {
color: black;
font-size: 1em;
}
.top-info li {
font-size: 0.6em;
text-align: right;
}
.logo-area img {
width: 100%;
}
.banner {
padding: unset;
}
.banner img {
width: 100%;
}

.banner-area a{
  display:inline-block;
  height:100px;
  
}
.middle-banner-area a{
  display:inline-block;
  height:200px;
}
.banner-area img, .middle-banner-area img{
  height:100%;
  object-fit:cover;
}

.navbar {
margin: auto;
justify-content: space-between;
padding: unset;
}
.navbar-nav {
align-items: flex-start;
margin-left:15px;
}
.navbar-collapse {
flex-grow: unset;
}
.dropdown-menu {
background-color: white;
border: none; 
top: 50px;
}
.dropdown-menu a{
  color: #000;
  font-size: 18px;
}
.navbar-dark .navbar-nav .nav-link {
color: rgb(255,255,255);
}
.navigation .navbar-nav .nav-link:hover {
color: rgba(255,255,255,.75);
}
.navbar-toggler{
  outline: none;
}
.navbar-toggler:focus{
  outline: none;
}
.single-box-home {
height: 500px;
}
.img-area {
position: relative;
height: 100%;
border-radius: 5px;
}
.img-area img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 5px;
}
.home .carousel-indicators{
position: absolute;
top: 20%;
left: 20px;
flex-direction: column;
margin: unset;
width: 40px;
}
.home .carousel-indicators li{
width: 10px;
height: 10px;
border-radius: 50%;
margin: 10px 0;
transition: 0.8s;
}
.home .carousel-indicators li.active{
width: 10px;
height: 25px;
border-radius: 20px;
margin: 10px 0;
background-color: red;
}
.single-box-home a{

border-radius: 10px;
}
.img-text {
position: absolute;
bottom: 0;
left: 20px;
right: 20px;
color: #fff;
padding: 10px;
}
.img-text a {
color: #fff;
text-decoration: none;
}
.img-area::before {
position: absolute;
content: "";
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 0;
border-radius: 5px;
}
.post-meta-info li { 
  margin: 0 5px;
}
.post-date  i{
  padding-right: 5px;
}
.img-area-home img {
height: 150px;
object-fit: cover;
border-radius: 5px;
}
.img-text-home a, .img-text-home a, .img-text-category a{
color: rgb(48, 48, 48);
text-decoration: none;
transition: 0.5s
}
.img-text-home ul li{
margin-right: 8px;
}
.text h3 {
text-transform: uppercase;
/* margin-bottom: 20px;
margin-top: 20px; */
margin-left: 10px;
position: relative;
color: red;
}
.first-carousel .carousel-indicators ,.second-carousel .carousel-indicators{
top: -40px;
right: 0;
left: unset;
bottom: unset;
margin: unset;
/* background-color: red; */
align-items: center;
}
.first-carousel .carousel-indicators li,.second-carousel .carousel-indicators li{
width: 10px;
height: 10px;
border-radius: 50%;
margin: 0 5px;
transition: 0.8s;
background-color: #979797;
}
.first-carousel .carousel-indicators li.active , .second-carousel .carousel-indicators li.active{
width: 25px;
height: 10px;
border-radius: 20px;
background-color: red;
}
.first-carousel .single-box {
height: 300px;
}
.second-carousel .single-box {
height: 200px;
}
.first-carousel img,
.second-carousel img {
height: 100%;
}
.first-carousel .img-text{
left: 40px;
}
.img-text-story a, .img-text-category a, .img-text-home a{
color: rgb(48, 48, 48);
text-decoration: none;
transition: 0.5,
}
.categories .nav-tabs .nav-link{
font-size: 14px;
}
.img-text-story a:hover, .post-info a:hover{
color: red;
}
.img-area-story img,.img-area-read-next img,.img-area-category img{
border-radius: 10px;}

.img-area-recent, .img-area-comment, .img-area-popular {
width: 100px;
object-fit: cover;
margin: 10px auto;
}
.img-area-follow img,.img-area-comment img, .img-area-popular img {
width: 100%;
height: 100%;
/* border-radius: 50%; */
}
.img-text-recent a, .img-text-comment a, .img-text-popular a{
text-decoration: none;
color: #000;
transition: 0.5s;
}
.img-text-recent a:hover, .img-text-comment a:hover, .img-text-popular a:hover, .img-text-home a:hover{
color: red;
  }
.img-text-recent span{
font-size: 10px;
}
.newsletter-area{
width: 100%;
}
.newsletter-area .footer-newsletter {
width: 100%;
position: relative;
}
.newsletter-area .footer-newsletter p {
margin-bottom: 0;
position: relative;
}
.newsletter-area .footer-newsletter input[type=email] {
background: transparent;
height: 48px;
color: #fff;
border: none;
width: 100%;
padding: 0 40px;
background: rgba(255,255,255,.25);
border-radius: 5px;
}
.newsletter-area .footer-newsletter input[type=submit] {
position: absolute;
right: 0;
top: 0;
padding: 0 30px;
border-radius: 5px;
height: 48px;
line-height: 48px;
font-size: 14px;
font-weight: 600;
text-transform: uppercase;
background: #222;
border: none;
color: #fff;
cursor: pointer;
transition: all 0.4s ease;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
transition: 0.5s;
}
.newsletter-area .footer-newsletter input[type=submit]:hover{
background-color: red;
}
.newsletter-area .footer-newsletter i.fa {
position: absolute;
left: 15px;
bottom: 15px;
color: #fff;
font-size: 17px;
}
input::placeholder{
color: #fff;
}
button, input {
overflow: visible;
outline: none;
}
.ts-footer {
background-color: #222222;
background-repeat: no-repeat;
background-size: cover;
padding-top: 70px;
padding-bottom: 20px;
}
.ts-footer .footer-left-widget, .ts-footer .footer-widget {
margin-bottom: 30px;
}
.ts-footer-classic .widget-title, .ts-footer-classic h3, .ts-footer-classic h4, .ts-footer .widget-title, .ts-footer-classic .contact h3 {
color: #fff;
}
.ts-footer .footer-info {
padding: 0;
margin-bottom: 40px;
}
.footer-info li, .footer-social li a, .textwidget p{
color: #fff;
}
.ts-footer .footer-left-widget, .ts-footer .footer-widget {
margin-bottom: 30px;
}
.ts-footer .footer-info li i {
margin-right: 15px;
font-size: 18px;
}
.ts-footer .footer-info li i.fa-home {
color: #f45946;
}
.ts-footer .footer-info li i.fa-phone {
color: #3fa4f3;
}
.ts-footer .footer-info li i.fa-envelope {
color: #04aea0;
}
.ts-footer i.fa-instagram, .ts-footer i.fa-twitter,.navbar-social ul li i{
background-color: transparent;
}
.footer-social ul, .navbar-social ul{
  height: 60px;
  display: flex;
  align-items: center;
 
  margin: auto;
}
.navbar-social ul{
    margin-right:10px;
}
.footer-social ul li{
display: inline-block;}
.footer-social li a {
  width: auto;
  height: auto;
  padding: 0;
  background: transparent;
  color: #fff;
  font-size: 22px;
  margin: 0 35px 0 0;
}
.navbar-social ul li i,.navbar-social ul li a{
  font-size: 16px;
  padding: 5px;
}
.footer-social li a i,.navbar-social ul a i {
  transition: 0.5s;
}
.search{
background-color: transparent;
border: none;
outline: none;
color: #fff;
font-size: 14px;
}
.search:focus{
 outline: none; 
}
.navbar-social i{
color: #fff;
}
.footer-social li a i,.navbar-social ul a i {
transition: 0.5s;
}
.footer-social li a:hover i {
color: red;   
}
.ts-footer .widget-title {
font-size: 24px;
font-weight: 700;
color: #fff;
line-height: 28px;
padding-left: 0;
position: relative;
margin-bottom: 40px;
}
.ts-footer .widget-title span {
background: #222;
padding-right: 40px;
position: relative;
}
.ts-footer .widget-title:before {
position: absolute;
right: 0;
top: 0;
width: 100%;
height: 1px;
bottom: 0;
margin: auto;
content: "";
background: #504f4f;
}
.recent-posts-widget .post-thumb img {
height: 90px;
width: 100%; 
object-fit: cover;
border-radius: 10px;
}
.post-date,.post-date i{
color: #999;
font-size: 13px;
padding-right: 5px;
}
.footer-right-widget {
padding-left: 60px;
}
.copy-right {
background: #000;
}
.copy-right .copyright-text p {
color: #fff;
padding: 20px 0 0 0;
}
.backTo {
background: red;
border-radius: 50%;
color: #fff;
cursor: pointer;
height: 40px;
position: absolute;
text-align: center;
width: 40px;
display: flex;
justify-content: center;
align-items: center;
transition: all 0.3s;
right:0;
bottom:10px;
}
.backTo a {
color: #fff;
font-size: 16px;
font-weight: 700;
}
.recent-comment h6,.recent-post-text h6{
color: #000;
}
.recent-comment h6::after, .recent-post-text h6::after{
background-color: #000;
}
.recent-comment h6::before, .recent-post-text h6::before{
background-color: #000;
}
.media a {
text-decoration: none;
color: #fff;
transition: 0.5s;
}
.tags{
display: inline-block;
padding: 2px 5px; 
color: #fff;
border-radius: 3px;
text-transform: uppercase;
font-size: 8px;
font-weight:600;
}
.fashion{
  background-color: #DA1793;
}
.tech{
  background-color: #007BFF;
}
.sport{
  background-color: #4CA80B;
}
.travel{
  background-color: #F3670A;
}
.health{
  background-color: #690AA0;
}
.lifestyle{
background-color: #FDA400;
}
.my-card{
  background: red !important;
}
.my-card h5{
  color:#fff;
}
.blob {
background: rgb(196, 22, 22);
border-radius: 50%;
margin: 10px;
height: 10px;
width: 10px;
}
.blob {
background: rgb(184, 16, 16);
border-radius: 50%;
margin: 10px;
height: 10px;
width: 10px;

box-shadow: 0 0 0 0 rgb(170, 11, 11);
transform: scale(1);
animation: pulse 2s infinite;
}
@keyframes pulse {
0% {
  transform: scale(0.95);
  box-shadow: 0 0 0 0 rgba(197, 2, 2, 0.7);
}

70% {
  transform: scale(1);
  box-shadow: 0 0 0 10px rgba(199, 0, 0, 0);
}

100% {
  transform: scale(0.95);
  box-shadow: 0 0 0 0 rgba(209, 8, 8, 0);
}
}
.live-text{
  display: flex;
  align-items: center;
}
.live-text h6{
  margin: 0 !important;
}
.live-numbers-red{
  font-size: 1.5em;
  font-weight: 700;
  color:rgb(231, 33, 19)
}
.live-numbers-green{
  font-size: 1.5em;
  font-weight: 700;
  color:rgb(89, 226, 25)
}  
.post-meta{
    width: 80%;
    display: flex;
    /* background-color: red; */
    justify-content: flex-start;
  }
.post-meta li{
margin: 0 10px;
}
.post-meta span{
font-size: 16px;
}
.article-image img{
  width: 100%;
}
.article-text p{
  margin: 30px 0;
}
.article-text h3, .article-text h4{
  margin: 20px 0;
}
.article-text li{
  list-style: disc;
  margin-left: 20px;
}
.img-text-related-post a{
  color: #000;
  text-decoration: none;
  transition: 0.5s;
}
.img-text-related-post a:hover{
  color: orangered;
}
.read-more{
  color: #000;
  text-decoration: unset;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  transition: 0.4s;
}
.read-more::after{
position: absolute;
content: "\2192";
right: -20%;
top: -25%;  
font-size: 20px;
}
.read-more:hover{
  text-decoration: none;
  color: #000;
}
.tag-container a{
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  /*border: 1px solid black;*/
  border-radius: 200px;
  color: black;
  text-decoration: none;
  font-size: 14px;
  transition: 0.5s;
  }

.right li {
width: 100%;
height: 100px;
z-index: 0;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
border-radius: 5px;
position: relative;
margin: 10px 0;
transition: 0.5s;
}
.right li::after {
content: "";
position: absolute;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
top: 0;
left: 0;
z-index: -1;
border-radius: 5px;
}
.right li a {
width: 100%;
height: 100%;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
color: #fff;
text-decoration: none;
padding: 0 20px;
}
.right li span:last-child {
width: 100px;
}
.right li a .tech {
width: 30%;
}
.right li a .bar {
width: 40%;
border-bottom: 1px dashed #fff;
margin: 0 10px;
}
.right li a .count {
width: 60px;
height: 60px;
background-color: #fff;
color: #000;
border-radius: 50%;
padding: 10px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}
.right li:hover {
transform: scale(1.1);
} 
.bread-color{
background: #fff !important;
}
.title-button{
height: 20px !important;
font-size: 10px !important;
padding: 0px 10px !important;
display: inline-block;
}
.main-header-icons{
justify-content: space-around;
}
.title-icons{
align-items: center;
}
.title-icons p{
margin: 0 !important;
padding: 0 5px;
}
.youtube-video{
margin: 32px 0  ;
}
.video-text p{
text-align: justify;
padding: 0 0 40px 0;
}
.video-text h4{
padding: 0 0 20px 0;
}
.comma{
font-size: 70px;
display: flex;
justify-content: center;
}
.testimonials{
margin: 0 0 32px 0;
}
.testimonials-longtext{
font-size:1.2em;
font-weight: 600;
text-align: center;
}
#line {
display: flex;
flex-direction: row;
color: #000;
text-align: center;
justify-content: center;
font-size: 1.2em;
}
#line:before, #line:after{
content: "";
flex: 1 1;
border-bottom: 1px solid;
margin: auto;
color: #000;
}
#line:before {
margin:auto 15px auto 200px;
}
#line:after {
margin:auto 200px auto 15px;
}
.big-image{
padding: none !important;
}
.patient-text h4{
padding: 30px 0;
}
.patient-text p{
padding: 0 0 20px 0;
}
.news-add{
margin: 0 0 30px 0;
}
.list li{
list-style: inside;
}
.list{
padding: 20px 0 20px 25px;
}
.form-title h4{
padding: 20px 0 0 0;
font-weight: 700;
}
.form-button{
outline: none;
cursor: pointer;
background: red;
border: none;
color: #fff;
padding: 10px 15px;
margin: 20px 0;
}




@media screen and (max-width: 1024px) {
.count {
  width: 30px;
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  border-radius: 50%;
  font-size: 16px;
}
#loadMore::after {
  width: 100%;
  right: -100%;
}
#loadMore::before {
  width: 100%;
  left: -100%;
}
.recent-posts-widget .post-thumb img {
  height: 100px;
  width: 100%;
}
.single-box-home-down {
  height: 400px;
}
.dropdown-menu {
  background-color: transparent;
  border: none; 
}
.dropdown-menu a{
  color: #fff; 
}
}
 @media screen and (max-width: 768px) {
  .trending-bar {
    font-size: 1em;
  }
  .top-info li {
    text-align: center;
  }
  
}
@media screen and (max-width: 425px) {
  .img-area-follow {
    width: 80%;
    height: 80%;
    object-fit: cover; 
  }
  .img-text-follow {
    font-size: 1.2em;
  }
  .img-text-follow h6 {
    font-size: 0.6em;
  }
  .img-area-lifestyle,
  .lifestyle-card {
    height: 260px;
    margin-top: 20px;
  }
  .img-area-lifestyle img,
  .lifestyle-card img {
    height: 100%;
  }
  #loadMore::after {
    width: 50%;
    right: -50%;
  }
  #loadMore::before {
    width: 50%;
    left: -50%;
  }
  .post-meta span{
    font-size: 12px;
  }
.navbar-nav{
margin-left: 15px;
}

} 
@media screen and (max-width:375px){
  
  
  
    
}